@import "./fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  // height: 100%;
}

body {
  color: $white;
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  min-width: 320px;
  background-color: $dark;
}

// Links
a {
  &:link,
  &:hover &:visited {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
  margin-top: 0;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

input,
textarea {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 1rem;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

h1 {
  font-size: 6.5rem;
  font-weight: 900;
  line-height: 104px;

  @include media-breakpoint-down(sm) {
    font-size: 3.75rem;
    line-height: 64px;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 72px;

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
    line-height: 36px;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;

  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem; 
  font-weight: 600;
  line-height: normal;

  @include media-breakpoint-down(sm) {
    font-size: 1.25rem; 
  }
}

.text-color-accent {
  color: $green-light;
}
